[submodule "final_project/hidden_networks"]
	path = hidden_networks
	url = https://github.com/allenai/hidden-networks
[submodule "final_project/deep_inversion/cifar10_models"]
	path = deep_inversion/cifar10_models
	url = https://github.com/huyvnphan/PyTorch_CIFAR10
[submodule "final_project/deep_inversion/inception_score"]
	path = deep_inversion/inception_score
	url = https://github.com/sbarratt/inception-score-pytorch
